<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--settings控制mybatis行为的-->
    <settings>
        <!--设置输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>



    <!--环境:数据库的连接信息   default必须和某个environment的id一样。告诉mybatis使用哪个数据库-->
    <environments default="mydev">
        <!--
        environment:一个数据库信息的配置，环境
        id:唯一值，自定义，标识环境的名称
        -->
        <environment id="mydev">
            <!--
                transactionManager:mybatis事物类型
                type：JDBC（表示使用jdbc中connection对象的commit，rollback做事物处理）
            -->
            <transactionManager type="JDBC"/>
            <!--
            dataSource:数据源，连接数据库的
            type:表示数据源的类型，POOLED使用连接池
            property name：配置连接数据库的具体信息
                name后的值不能修改
            -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/><!--驱动-->
                <property name="url" value="jdbc:mysql://localhost:3306/springdb"/><!--连接数据库的url字符串-->
                <property name="username" value="root"/>
                <property name="password" value="333"/>
            </dataSource>
        </environment>
    </environments>

    <!--sql映射文件的位置-->
    <mappers>
        <!--
        一个mapper标签指定一个文件的位置
        从类路径开始的路径信息。 target/classes(类路径)
        -->
        <mapper resource="org/example/dao/StudentDao.xml"/>
        <!--<mapper resource="org/example/dao/SchoolDao.xml"/>-->
    </mappers>
</configuration>
<!--
    当前文件是mybatis的主配置文件：主要定义了数据库的配置信息，sql映射文件的位置
    1.约束文件
        <!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        mybatis-3-config.dtd文件名称

    2.根标签<configuration>
-->